services:
  - type: web
    name: chronix-web
    env: node
    branch: main
    plan: free
    buildCommand: npm install
    startCommand: npm start
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production